

</div></div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css"/>
    <title>About</title>
</head>
<body id="body-about">
    
<div id="div-about"> <h1 id="h2-about">About</h1> 

    <p><h3>Vitalik Buterin is a Russian-Canadian writer and programmer and has been involved in the Bitcoin community since 2011,
co-founding and writing articles for Bitcoin magazine.
He is primarily known as the one behind Ethereum, a blockchain platform that operates as a world computer for
decentralized applications, or DApps.</p> </h3>
</div>
</body>
</html>