

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Gallery</title>
</head>
<body>
    <div><div>
        <h2>Gallery</h2>
        <img src="/public/images/ES_zc93XQAILzCH.jpeg" alt="">
        <img src="/public/images/farksdfvc5j81.webp" alt="">
        <img src="/public/images/Vitalik_Buterin_TechCrunch_London_2015_(cropped).jpeg" alt="">
    </div></div>
</body>
</html>